<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="icon" type="image/png" href="/images/fabicon.png">
	<title>Trueinsurre</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


	<link rel="stylesheet" type="text/css" href="/css/sideAndNavBar.css" />
	<link rel="stylesheet" type="text/css" href="/css/employee/employeeDashboard.css" />

	<script src="/js/sidebar.js"></script>
	<script src="/js/employee/employeeDashboard.js"></script>

</head>

<body>

	<div class="sidebar" id="sidebar">
		<button class="toggle-btn" onclick="toggleSidebar()">&#9776;</button>
		<ul>
			<li><a href="#" id="link-dashboard">&nbsp;<i class="fa fa-tachometer sideSpace" aria-hidden="true"></i>
					Dashboard</a></li>
			<li>&nbsp;<button id="link-tracking" class="addTaskNav" onclick="addTask()">&nbsp;<i
						class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp; Add Task</button></li>
			<!--<li><a href="/emp/" id="link-orders">&nbsp;<i class="fa fa-users sideSpace"
						aria-hidden="true"></i>Employees</a></li>-->
		</ul>
	</div>

	<div class="main">
		<div class="navbar">
			<div class="logo">
				<img src="/images/logo.png" alt="invoicemint" title="invoicemint" class="side-logo">
			</div>
			<div class="user-dropdown">
				<span class="username" id="username"><i class="fa fa-user" aria-hidden="true"></i>&nbsp; <span
						th:text="${user.name}"></span></span>
				<input type="hidden" id="userId" th:value="${user.id}">
				<div class="dropdown-menu" id="dropdown-menu">
					<a href="#" class="dropdown-item"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp; Settings</a>
					<a href="/logout" class="dropdown-item"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;
						Logout</a>
				</div>
			</div>
		</div>

		<div class="content">
			<div class="card">
				<div class="row">
					<div class="col-md-6">
						<span>
							<h3><i class="fa fa-cart-plus" aria-hidden="true"></i> Task</h2>
						</span>
					</div>
					<div class="col-md-6">
						<span class="directions">
							<!--<button class="btn empBtn" onclick="addTask()"><i class="fa fa-plus-square"
									aria-hidden="true"></i> Add Task</button>-->

							<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
								<!--<button type="button" class="btns" onclick="addTask()">Add Task</button>-->
								<div class="dropdown">
									<select id="btnGroupDrop1" type="button" class="btns dropdown-toggle"
										onchange="fetchTasks();">
										<option class="dropdown-item form-control" value="active"> Active Task</option>
										<option class="dropdown-item form-control" value="completed">
											Completed Task
										</option>
										<option class="dropdown-item form-control" value="all">
											All Task
										</option>
									</select>

								</div>
							</div>
						</span>
					</div>

				</div>
			</div>



			<div class="card" style="margin-top: 20px;">
				<!--Employee List view-->
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-3">
								<label for="entriesPerPage">
									<select class="table-search btns" id="entriesPerPage"
										onchange="updateEntriesPerPage(this.value)">
										<option value="10">10</option>
										<option value="25">25</option>
										<option value="50" selected>50</option>
										<option value="100">100</option>
										<option value="250">250</option>
										<option value="500">500</option>
										<option value="750">750</option>
										<option value="1000">1000</option>
									</select>
									entries per page
								</label>
							</div>


							<div class="col-md-3">
								<div class="btn-group marginFilterButton" role="group"
									aria-label="Button group with nested dropdown">
									<div class="dropdown">
										<select id="selectDisposition" type="button"
											class="btns dropdown-toggle userList" onchange="fetchTasks()">
											<option value="">Select Disposition</option>
											<option value="RNR">RNR</option>
											<option value="Not Interested">Not Interested</option>
											<option value="Follow up">Follow up</option>
											<option value="Renewed Outside">Renewed Outside</option>
											<option value="Ready to pay today">Ready to pay today</option>
											<option value="Issued">Issued</option>
											<option value="Paid">Paid</option>
											<option value="Payment Issue">Payment Issue</option>
											<option value="Others">Others</option>
											<option value="Price is High (C)">Price is High (C)</option>
											<option value="Financial issue (C)">Financial issue (C)</option>
											<option value="Need EMI Option (C)">Need EMI Option (C)</option>
											<option value="Not Happy with Insurance Vendor (NC)">Not Happy with
												Insurance Vendor
												(NC)</option>
											<option value="Not Happy with Porter Service (NC)">Not Happy with Porter
												Service
												(NC)
											</option>
											<option value="Wrong Number (NC)">Wrong Number (NC)</option>
											<option value="Sold his vehicle (NC)">Sold his vehicle (NC)</option>
											<option value="Relative is an Agent (NC)">Relative is an Agent (NC)</option>
											<option value="Payment Mode issue">Payment Mode issue</option>
											<option value="EWI Interest is high">EWI Interest is high</option>
											<option value="Not Answering the call">Not Answering the call</option>
											<option value="Not Eligible">Not Eligible</option>
											<option value="KYC issue">KYC issue</option>
										</select>
									</div>
								</div>
							</div>

							<div class="col-md-3">
								<div class="form-group mb-3">
									<div class="btn-group marginFilterButton" role="group"
										aria-label="Button group with nested dropdown">
										<div class="dropdown">
											<select id="selectStatus" type="button"
												class="btns dropdown-toggle userList" onchange="fetchTasks();">
												<option value="">Select Status</option>
												<option value="S1-Payment Collection Pending">S1-Payment Collection
													Pending
												</option>
												<option value="S2-Finance Confirmation Pending">S2-Finance Confirmation
													Pending
												</option>
												<option value="S3-Document Pending">S3-Document Pending</option>
												<option value="S4-Policy request Pending">S4-Policy request Pending
												</option>
												<option value="S4.1-EWI Pending">S4.1-EWI Pending</option>
												<option value="S5-Pending from vendor">S5-Pending from vendor</option>
												<option value="S5.1-Pending for core insurance">S5.1-Pending for core
													insurance
												</option>
												<option value="S5.2-Agent different case">S5.2-Agent different case
												</option>
												<option value="S6-Policy issued">S6-Policy issued</option>
												<option value="Not Interested">Not Interested</option>
												<option value="Renewed Outside">Renewed Outside</option>
											</select>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-3">
								<div class="directions table-search">
									<span>Search: </span><input type="text" id="multiFilter" placeholder="Enter filters (e.g., Pune 05/15/2025 searchText)" oninput="filterTable(this.value)" />

								</div>
							</div>
						</div>

						<div class="table-container" style="border: 1px solid #ddd;padding: 5px;width: 1405px;">
							<div>
								<table>
									<thead>
										<tr>
											<th class="srWidth">
												<input class="direction-left" type="checkbox" id="selectAll"
													onclick="toggleSelectAll(this)" />
												S.N.
											</th>
											<th>
												<button class="tableFilter" onclick="sortTable('vehicleNumber')">
													<i class="fa fa-arrows-v" aria-hidden="true"></i><b> Vehicle
														Number</b>
												</button>
											</th>
											<th>
												<button class="tableFilter" onclick="sortTable('partnerNumber')">
													<i class="fa fa-arrows-v" aria-hidden="true"></i><b> Partner
														Number</b>
												</button>
											</th>
											<th>
												<button class="tableFilter" onclick="sortTable('agentName')">
													<i class="fa fa-arrows-v" aria-hidden="true"></i><b> Agent
														Name</b>
												</button>
											</th>
											<th>
												<button class="tableFilter" onclick="sortTable('driverName')">
													<i class="fa fa-arrows-v" aria-hidden="true"></i><b> Driver
														Name</b>
												</button>
											</th>
											<th>
												<button class="tableFilter" onclick="sortTable('city')">
													<i class="fa fa-arrows-v" aria-hidden="true"></i><b> City</b>
												</button>
											</th>
											<th>
												<button class="tableFilter"
													onclick="sortTable('lastYearPolicyIssuedBy')">
													<i class="fa fa-arrows-v" aria-hidden="true"></i><b> Last Year
														IssuedBy</b>
												</button>
											</th>
											<th>
												<button class="tableFilter" onclick="sortTable('partnerRate')">
													<i class="fa fa-arrows-v" aria-hidden="true"></i><b> Partner
														rate</b>
												</button>
											</th>
											<th>
												<button class="tableFilter" data-column="newExpiryDate"
													onclick="sortTable('newExpiryDate')">
													<i class="fa fa-arrows-v" aria-hidden="true"></i><b> New Expiry
														Date</b>
												</button>
											</th>
											<th>
												<button class="tableFilter" onclick="sortTable('message')">
													<i class="fa fa-arrows-v" aria-hidden="true"></i><b> Message</b>
												</button>
											</th>
											<th>
												<button class="tableFilter" onclick="sortTable('messageLink')">
													<i class="fa fa-arrows-v" aria-hidden="true"></i><b> Message
														Link</b>
												</button>
											</th>
											<th>
												<button class="tableFilter" onclick="sortTable('status')">
													<i class="fa fa-arrows-v" aria-hidden="true"></i><b> Status</b>
												</button>
											</th>
											<th>
												<button class="tableFilter" onclick="sortTable('policyIssuedDate')">
													<i class="fa fa-arrows-v" aria-hidden="true"></i><b> Policy
														Issued
														Date</b>
												</button>
											</th>
											<th>
												<button class="tableFilter" onclick="sortTable('messageStatus')">
													<i class="fa fa-arrows-v" aria-hidden="true"></i><b> Message
														Status</b>
												</button>
											</th>
											<th>
												<button class="tableFilter" onclick="sortTable('disposition')">
													<i class="fa fa-arrows-v" aria-hidden="true"></i><b>
														Disposition</b>
												</button>
											</th>
											<th>
												<button class="tableFilter" onclick="sortTable('nextFollowUpDate')">
													<i class="fa fa-arrows-v" aria-hidden="true"></i><b> Next
														FollowUp
														Date</b>
												</button>
											</th>
											<th>
												<button class="tableFilter" onclick="sortTable('comments')">
													<i class="fa fa-arrows-v" aria-hidden="true"></i><b>
														Comments</b>
												</button>
											</th>
										</tr>
									</thead>
									<tbody id="userTableBody">
										<!-- Table rows go here -->
									</tbody>
								</table>
							</div>
						</div>


						<div class="pagination" id="paginationButtons">

						</div>
					</div>
				</div>
			</div>


			<!--Add Task Start-->

			<div class="row">
				<div class="col-md-12">
					<div id="taskModal" class="modal" style="display: none;">
						<div class="modal-content cardBackground">
							<div class="card">
								<h4 class="header"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;
									<span id="taskTitle">New
										Task</span>
								</h4>
								<form id="taskForm" class="formPadding">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group mb-3">
												<label class="form-label" for="vehicleNumber">Vehicle
													Number</label>
												<input class="form-control" id="vehicleNumber" name="vehicleNumber"
													type="text" placeholder="Enter Vehicle Number" required>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group mb-3">
												<label class="form-label" for="partnerNumber">Partner
													Number</label>
												<input class="form-control" id="partnerNumber" name="partnerNumber"
													type="text" placeholder="Enter Partner Number" required>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-6">
											<div class="form-group mb-3">
												<label class="form-label" for="agentName">Agent Name</label>
												<input class="form-control" id="agentName" name="agentName" type="text"
													placeholder="Enter Agent Name" required>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group mb-3">
												<label class="form-label" for="driverName">Driver Name</label>
												<input class="form-control" id="driverName" name="driverName"
													type="text" placeholder="Enter Driver Name" required>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-6">
											<div class="form-group mb-3">
												<label class="form-label" for="city">City</label>
												<input class="form-control" id="city" name="city" type="text"
													placeholder="Enter City" required>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group mb-3">
												<label class="form-label" for="lastYearPolicyIssuedBy">Last Year
													Policy
													Issued By</label>
												<input class="form-control" id="lastYearPolicyIssuedBy"
													name="lastYearPolicyIssuedBy" type="text" placeholder="Enter Issuer"
													required>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-6">
											<div class="form-group mb-3">
												<label class="form-label" for="partnerRate">Partner Rate</label>
												<input class="form-control" id="partnerRate" name="partnerRate"
													type="text" placeholder="Enter Partner Rate" required>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group mb-3">
												<label class="form-label" for="newExpiryDate">New Expiry
													Date</label>
												<input class="form-control" id="newExpiryDate" name="newExpiryDate"
													type="date" required>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-6">
											<div class="form-group mb-3">
												<label class="form-label" for="message">Message</label>
												<textarea class="form-control" id="message" name="message"
													placeholder="Enter Message" rows="3"></textarea>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group mb-3">
												<label class="form-label" for="messageLink">Message Link</label>
												<input class="form-control" id="messageLink" name="messageLink"
													type="text" placeholder="Enter Message Link">
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-6">
											<div class="form-group mb-3">
												<label class="form-label" for="policyIssuedDate">Policy Issued
													Date</label>
												<input class="form-control" id="policyIssuedDate"
													name="policyIssuedDate" type="date" required>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group mb-3">
												<label class="form-label" for="messageStatus">Message
													Status</label>
												<select class="form-control" id="messageStatus" name="messageStatus"
													required>
													<option value="">Select Status</option>
													<option value="Sent">message Sent</option>
													<option value="Pending">not on whatsapp</option>
												</select>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-6">
											<div class="form-group mb-3">
												<label class="form-label" for="disposition">Disposition</label>

												<select class="form-control" id="disposition" name="disposition">
													<option value="">Select Disposition</option>
													<option value="RNR">RNR</option>
													<option value="Not Interested">Not Interested</option>
													<option value="Follow up">Follow up</option>
													<option value="Renewed Outside">Renewed Outside</option>
													<option value="Ready to pay today">Ready to pay today
													</option>
													<option value="Issued">Issued</option>
													<option value="Paid">Paid</option>
													<option value="Payment Issue">Payment Issue</option>
													<option value="Others">Others</option>
													<option value="Price is High (C)">Price is High (C)</option>
													<option value="Financial issue (C)">Financial issue (C)
													</option>
													<option value="Need EMI Option (C)">Need EMI Option (C)
													</option>
													<option value="Not Happy with Insurance Vendor (NC)">Not
														Happy with
														Insurance Vendor (NC)</option>
													<option value="Not Happy with Porter Service (NC)">Not Happy
														with
														Porter Service (NC)</option>
													<option value="Wrong Number (NC)">Wrong Number (NC)</option>
													<option value="Sold his vehicle (NC)">Sold his vehicle (NC)
													</option>
													<option value="Relative is an Agent (NC)">Relative is an
														Agent (NC)
													</option>
													<option value="Payment Mode issue">Payment Mode issue
													</option>
													<option value="EWI Interest is high">EWI Interest is high
													</option>
													<option value="Not Answering the call">Not Answering the
														call
													</option>
													<option value="Not Eligible">Not Eligible</option>
													<option value="KYC issue">KYC issue</option>
												</select>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group mb-3">
												<label class="form-label" for="nextFollowUpDate">Next Follow-Up
													Date</label>
												<input class="form-control" id="nextFollowUpDate"
													name="nextFollowUpDate" type="date" required>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-6">
											<div class="form-group mb-3">
												<label class="form-label" for="status">Status</label>

												<select class="form-control" id="status" name="status">
													<option value="">Select Disposition</option>
													<option value="S1-Payment Collection Pending">S1-Payment
														Collection
														Pending</option>
													<option value="S2-Finance Confirmation Pending">S2-Finance
														Confirmation Pending</option>
													<option value="S3-Document Pending">S3-Document Pending
													</option>
													<option value="S4-Policy request Pending">S4-Policy request
														Pending
													</option>
													<option value="S4.1-EWI Pending">S4.1-EWI Pending</option>
													<option value="S5-Pending from vendor">S5-Pending from
														vendor
													</option>
													<option value="S5.1-Pending for core insurance">S5.1-Pending
														for
														core insurance</option>
													<option value="S5.2-Agent different case">S5.2-Agent
														different case
													</option>
													<option value="S6-Policy issued">S6-Policy issued</option>
													<option value="Not Interested">Not Interested</option>
													<option value="Renewed Outside">Renewed Outside</option>
												</select>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group mb-3">
												<label class="form-label" for="comments">Comments</label>
												<textarea class="form-control" id="comments" name="comments"
													placeholder="Enter Comments" rows="3"></textarea>
												<input type="hidden" id="id" name="id">
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="directions">
												<button class="btn btn-outline-danger"
													onclick="closeEmployeePopup()">Cancel</button>
												&nbsp;
												<button type="button" class="btn btn-outline-success"
													onclick="submitForm()">Save</button>
											</div>
										</div>
									</div>
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>

			<!--Add Task End-->
			<!-- Task Update Message Popup Start-->
			<div class="row">
				<div class="col-md-12">
					<div id="messagePopup" class="empDelOverlay" style="display: none;">
						<div class="messageCommentPopupContent">
							<!--<p id="messageErrorText"></p>-->
							<div class="form-group mb-3">
								<label class="form-label" for="taskFile" style="float: left;">Enter Message:</label>
								<textarea class="form-control textAreaHeight" id="userMessage" name="userMessage"
									placeholder="Enter Message" rows="3"></textarea>
							</div>
							<div class="messageDelPopupButtons">
								<button id="messageDelYes" class="empDelBtnRemove">Update</button>
								<button id="messageDelNo" class="empDelBtn">Cancel</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Task Update Message End-->

			<!-- Task Update Comment Popup Start-->
			<div class="row">
				<div class="col-md-12">
					<div id="commentPopup" class="empDelOverlay" style="display: none;">
						<div class="messageCommentPopupContent">
							<!--<p id="commentErrorText"></p>-->
							<div class="form-group mb-3">
								<label class="form-label" for="taskFile" style="float: left;"><b
										id="confrmLable"></b>Enter Message:</label>
								<textarea class="form-control textAreaHeight" id="userComment" name="userComment"
									placeholder="Enter ..." rows="3"></textarea>
							</div>
							<div class="empDelPopupButtons">
								<button id="commentDelYes" class="empDelBtnRemove">Update</button>
								<button id="commentDelNo" class="empDelBtn">Cancel</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Task Update Comment End-->

			<!--Alert Popup Start-->

			<div class="row">
					<div class="col-md-12">
						<div id="alertPopup" class="alert-popup hidden">
							<div class="alert-content">
								<div id="cardId">
									<div class="">
										<span id="alertMessage" class="alert-message"></span>
									</div>
									<!--<button id="alertClose" class="alert-close" onclick="hideAlert();">OK</button>-->
								</div>
							</div>
						</div>
					</div>
				</div>

			<!--Alert Popup end-->

		</div>
	</div>

	<script>

		window.addEventListener('load', function () {
			fetchTasks(0);
		});
	</script>
</body>

</html>